{{ partial "header.html" . }}
<article class="post post-view">
  <header class="post-header">
    <h1 class="post-title">{{ .Title }}</h1>
    <p class="post-meta">
      {{- if or .Params.author .Site.Params.author -}}
        {{ .Params.author | default .Site.Params.author }}
      {{ end }} • 
      Published {{ .Date.Format "January 2, 2006" }}
      {{- if ne (.Date.Format "January 2, 2006")  (.Lastmod.Format "January 2, 2006") }} • Updated {{ .Lastmod.Format "January 2, 2006" }}{{end}}
      (git <a href="https://gitlab.com/robbawebba/robbawebba.gitlab.io/commit/{{ .GitInfo.Hash }}">{{ .GitInfo.AbbreviatedHash }}</a>)
    </p>
  </header>
  <div class="post-content">{{ .Content }}</div>
  <footer class="post-footer">
    {{ if .Params.tags }}
    <ul class="post-tags">
      {{ range .Params.tags }}
      <li><a href="{{ `/tags/` }}{{ . | urlize }}/">{{ . }}</a></li>
      {{ end }}
    </ul>
    {{ end }}
  </footer>
</article>
{{ partial "footer.html" . }}
